.login-page > .ant-card {
  width: 880px;
  margin: auto;
}

.ant-card-body {
  background-color: #F4F9FD;
}

.container-form {
  padding: 70px 40px;
  background-color: #FFFFFF;
  border-radius: 30px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.ant-col.ant-col-12.logo {
  border-radius: 30px;
  background-color: #E5F3FE;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  background-image: url("/public//images/Group.png");
  background-repeat: no-repeat;
  background-size: 470px 420px;
  background-position: 65px 20px;
}

.ant-checkbox-inner {
  border-radius: 5px;
}

.ant-btn.ant-btn-primary.btn-login {
  background: #3F8CFF;
  box-shadow: 0px 6px 12px rgb(63 140 255 / 26%);
  border-radius: 12px;
  padding: 9px 24.5px;
  width: 142px;
  height: 44px;
}


.ant-modal-body.ant-btn-primary {
  left: 20px;
  background: linear-gradient(275.64deg, #147EE3 0%, #45A9FF 100%);
  border-radius: 12px;
}

.ant-btn.ant-btn-default {
  right: 50px;
}