@import "vendor";
@import "components";

body {
  background-color: #F4F9FD;
}

.link-action {
  color: #3F8CFF;
  cursor: pointer;
}

.pointer {
  cursor: pointer;
}

/* LIST Style */

/* input search */
.search .ant-input-affix-wrapper {
  border: 1px solid #EEF2F6;
  box-shadow: none;
}

.search .ant-input {
  height: 100%;
  box-shadow: none;
}

.anticon.anticon-search {
  color: #0050ad;
}

.anticon.anticon-close-circle {
  color: #dbe0e3;
}

.columns {
  border-color: #e5f3fe;
}

.table {
  border: none;
  box-shadow: none;
}

.value {
  color: #414B54;
  font-size: 12px;
}

.desc-value {
  color: #A6B0B9;
  font-size: 10px;
}


.border-right {
  border-right: 1px solid #D1DEE3;
}