/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.login-page {
  padding: 200px;
  background-color: #F4F9FD;
}

.login-form {
  box-shadow: 0px 2px 5px rgb(90 122 163 / 6%);
  border-radius: 20px;
}

.ant-card-body {
  background-color: #F4F9FD;
  /* border-radius: 30px; */
}


.App {
  padding-top: 70px;
  padding-bottom: 70px;
   padding-left: 30px;
  /* padding-right: 20px;
  margin-left: 310px;
  margin-right: 550px; */ 
  /* border: 1px solid rgb(236, 232, 232); */
  border-radius: 20px;
  }

.ant-col.ant-col-12{
  background-color: #FFFFFF;
  border-radius: 30px;
}

.ant-checkbox-inner {
  border-radius: 5px;
}

.ant-btn.ant-btn-primary {
  background: #3F8CFF;
    box-shadow: 0px 6px 12px rgb(63 140 255 / 26%);
    border-radius: 12px;
    align-items: center;
    padding: 9px 24.5px;
    width: 143px;
    height: 42px;
    right: 55px;
}

.ant-col.ant-col-20.ant-form-item-control {
  border: 1px solid #D8E0F0;
    box-shadow: 0px 2px 5px rgb(90 122 163 / 6%);
    border-radius: 12px;
}
