.login-page {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}

@media only screen and (max-width: 767px) {
  .login-page .ant-card {
    width: 100%!important;
  }
  .col-illustration {
    display: none!important;
  }
  .container-form {
    width: 90vw;
  }
}

.login-page .ant-card {
  width: 880px;
  margin: auto;
}

.login-page .ant-input {
  padding: 10px 16px;

}

.ant-card-body {
  background-color: #F4F9FD;
}

.container-form {
  padding: 70px 40px;
  background-color: #FFFFFF;
  border-radius: 30px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.col-illustration {
  display: flex;
  justify-content: center;
  border-radius: 30px;
  background-color: #E5F3FE;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  background-image: url("/public//images/login-illustration.png");
  background-repeat: no-repeat;
  background-size: 470px 420px;
  background-position: 65px 20px;
}

.ant-checkbox-inner {
  border-radius: 5px;
}

.ant-btn.ant-btn-primary.btn-login {
  background: #3F8CFF;
  box-shadow: 0px 6px 12px rgb(63 140 255 / 26%);
  border-radius: 12px;
  padding: 9px 24.5px;
  width: 142px;
  height: 44px;
}

.login-page .ant-input, .login-page .ant-input-affix-wrapper {
  align-items: center;
  padding: 5px 13px;
  width: 100%;
  height: 45px;
  background: #FFFFFF;
  border: 1px solid #D8E0F0;
  box-shadow: 0px 2px 5px rgb(90 122 163 / 6%);
  border-radius: 10px;
}

.login-page .ant-input-password {
  align-items: center;
  padding: 10px 16px;
  height: 45px;
  width: 100%;
  /* background: #FFFFFF;
  border: 1px solid #D8E0F0; */
  box-shadow: 0px 2px 5px rgb(90 122 163 / 6%);
  border-radius: 10px;
}

.login-page .ant-input-password .ant-input{
  height: 42px;
}

.login-page .ant-input-password > .ant-input {
  box-shadow: none;
  border-radius: 0;
}

.login-page .hide-required-sign > .ant-form-item-label>label.ant-form-item-required:not(.ant-form-item-required-mark-optional):before {
  display: none;
}